.event-pannel {
    transform: translateY(-230px);
    margin-bottom: -200px;
}

.e-bar {
    width: 82%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.event-bar {
    width: 92dvw;
    margin-left: auto;
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.event-bar::-webkit-scrollbar {
    display: none;

}

@media only screen and (max-width:700px) {
    .event-pannel {
        transform: translateY(-320px);
    }
}